{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="../static/styles/pkmn_name.css">
{% endblock %}

{% block title %}
Team Manager
{% endblock %}

{% block content %}
{% include './includes/nav.html' %}

<form method="POST" class="w-25 m-3 mx-auto shadow-lg p3 mt5 mb5 bg-body-tertiary rounded ">
  {{ form.hidden_tag() }}
</form>

    {% if pkmn_name %}
      {% for pkmn in pkmn_name %}

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">{{ pokemon.pkmn_name }}</h4>
        <img src="{{ pokemon.shiny_sprite_url }}" class="card-img-top" alt="shiny_sprite_url">
        <div class="card-body">
          <h5 class="card-title">{{ pokemon.ability }}</h5>
          <p class="card-text">HP: {{ pokemon.base_hp }}  ATK: {{ pokemon.attack }} DEF: {{ pokemon.defense }}  SP.ATK: {{ pokemon.sp_atk }}  SP.DEF: {{ pokemon.sp_def }}  SPD: {{ pokemon.speed }}</p>
          <a href="#" class="btn btn-primary">Release!</a>
        </div>
      </div>

      {% endfor %}
      {% endif %}
{% endblock %}

