{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="../static/styles/pkmn_name.css">
{% endblock %}

{% block title %}
Pokemon Team Builder
{% endblock %}

{% block content %}
{% include './includes/nav.html' %}

<form method="POST" class="w-25 m-3 mx-auto shadow-lg p3 mt5 mb5 bg-body-tertiary rounded ">
  {{ form.hidden_tag() }}
        <div class="mb-3">
          <label for="pkmnLabel" class="form-label">Enter Pokemon name or National Pokedex number: </label>
          {{ form.pkmn_name(class='form-control cus-input', id='pkmnLabel') }}
          {{ form.submit_btn(class='btn btn-primary login-btn')}}
        </div>
</form>

    {% for pkmn in all_pkmn %}


    <div class="w3-card-4 m-3 w3-dark-grey">

      <div class="w3-container w3-center">
        <h3>{{ pokemon.pkmn_name }}</h3>
        <img class= mx-auto src="{{ pokemon.shiny_sprite_url }}" alt="shiny_sprite"">
        <h5>{{ pokemon.ability }}</h5>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Base HP</th>
              <th scope="col">Attack</th>
              <th scope="col">Defense</th>
              <th scope="col">Special Attack</th>
              <th scope="col">Special Defense</th>
              <th scope="col">Speed</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>         
            <tr>
              <td>{{ pokemon.base_hp }}</td>
              <td>{{ pokemon.attack }}</td>
              <td>{{ pokemon.defense }}</td>
              <td>{{ pokemon.sp_atk }}</td>
              <td>{{ pokemon.sp_def }}</td>
              <td>{{ pokemon.speed }}</td>
              <td><a href="{{ url_for(pokemon.catch) }}" class="w3-button login-btn w3-green">Catch!</a></td>
              <td><a href="{{ url_for(pokemon.release), pokemon_name=pokemon.pkmn_name }}" class="w3-button login-btn w3-red">Release!</a></td>
            </tr>           
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
{% endblock %}