{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/pkmn_name.css">
{% endblock %}

{% block title %}
Pokemon Team Builder
{% endblock %}

{% block content %}
    <form method='POST'>
        <div class="mb-3">
          <label for="pkmnLabel" class="form-label">Enter Pokemon name or National Pokedex number: </label>
          <input type="text" class="form-control" id="pkmnLabel" name="pkmn_name">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Ability</th>
            <th scope="col">HP</th>
            <th scope="col">Attack</th>
            <th scope="col">Defense</th>
            <th scope="col">Special Attack</th>
            <th scope="col">Special Defense</th>
            <th scope="col">Speed</th>
            <th scope="col">Front Shiny Sprite</th>
          </tr>
        </thead>
        <tbody>
            {% for pkmn in pkmn_data %}
          <tr>
            <td>{{ pkmn['pkmn_name'] }}</td> 
            <td>{{ pkmn['ability'] }}</td>
            <td>{{ pkmn['hp'] }}</td>
            <td>{{ pkmn['attack'] }}</td>
            <td>{{ pkmn['defense'] }}</td>
            <td>{{ pkmn['sp_attk'] }}</td>
            <td>{{ pkmn['sp_def'] }}</td>
            <td>{{ pkmn['speed'] }}</td>
            <td><img src="{{ pkmn['shiny_sprite_url'] }}" alt="shiny_sprite"></td>
          </tr>
          
            {% endfor %}
        </tbody>
      </table>
{% endblock %}